@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 9%;
    --primary: 219 100% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 94%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 87%;
    --muted-foreground: 0 0% 45%;
    --accent: 220 13% 91%;
    --accent-foreground: 219 100% 48%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89%;
    --input: 0 0% 96%;
    --ring: 219 100% 48%;
    --chart-1: 219 100% 48%;
    --chart-2: 194 98% 40%;
    --chart-3: 279 85% 40%;
    --chart-4: 39 89% 49%;
    --chart-5: 12 76% 61%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 0 0% 9%;
    --sidebar-primary: 219 100% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 94%;
    --sidebar-accent-foreground: 219 100% 48%;
    --sidebar-border: 0 0% 89%;
    --sidebar-ring: 219 100% 48%;
  }
  .dark {
    --background: 7 5% 7%;
    --foreground: 0 0% 95%;
    --card: 7 5% 12%;
    --card-foreground: 0 0% 95%;
    --popover: 7 5% 12%;
    --popover-foreground: 0 0% 95%;
    --primary: 220 90% 56%;
    --primary-foreground: 0 0% 9%;
    --secondary: 7 5% 20%;
    --secondary-foreground: 0 0% 95%;
    --muted: 7 5% 25%;
    --muted-foreground: 0 0% 70%;
    --accent: 220 90% 56%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 7 5% 18%;
    --input: 7 5% 15%;
    --ring: 220 90% 56%;
    --chart-1: 220 90% 56%;
    --chart-2: 194 98% 50%;
    --chart-3: 279 85% 50%;
    --chart-4: 39 89% 49%;
    --chart-5: 12 76% 61%;
    --sidebar-background: 7 5% 10%;
    --sidebar-foreground: 0 0% 95%;
    --sidebar-primary: 220 90% 56%;
    --sidebar-primary-foreground: 0 0% 9%;
    --sidebar-accent: 7 5% 20%;
    --sidebar-accent-foreground: 220 90% 56%;
    --sidebar-border: 7 5% 18%;
    --sidebar-ring: 220 90% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
